context=App
1 string:title=string;required
2 width=int:width=int;required
3 height=int:height=int;required
4 resize=bool:resizable=bool
5 x=int:x_pos=int
6 y=int:y_pos=int
7 titlebar=bool:decorated=bool
contextoutput=dpg.createviewport(1,2,3,4,5,6,7)
contextdoc=Enable to create app skeleton unicorn

context=Window
1 string:label=string;required
2 width=int:width=int;required
3 height=int:height=int;required
4 pos=int,int:pos=(int,int)
5 nomove:no_move=True
6 noresize:no_resize=True
7 noclose:no_close=True
8 random:tag="random"
contextoutput=with dpg.window(1,2,3,4,5,6,7,8):
contextdoc=Create a new window in App to add objects
