context=App
1 string:title=string;required
2 width=int:width=int;required
3 height=int:height=int;required
4 resize=bool:resizable=bool
5 x=int:x_pos=int
6 y=int:y_pos=int
7 titlebar=bool:decorated=bool
contextoutput=dpg.createviewport(1,2,3,4,5,6,7)
contextdoc=Enable to create app skeleton unicorn   

context=Window
1 string:label=string;required
2 width=int:width=int;required
3 height=int:height=int;required
4 pos=int,int:pos=(int,int)
5 nomove:no_move=True
6 noresize:no_resize=True
7 noclose:no_close=True
8 tag=string:tag=string;required
contextoutput=with dpg.window(1,2,3,4,5,6,7,8):
contextdoc=Create a new window in App to add objects

context=Label
1 string:string;required
2 color=int,int,int:color=(int,int,int)
3 tag=string:tag=string;required
contextoutput=dpg.add_text(1,2,3)
contextdoc=Create a label object   

context=Input
1 string:label=string
2 width=int:width=int;required
3 height=int:height=int;required
4 multiline:multiline=True
5 hint=string:hint=string
6 nospace:no_spaces=True
7 default=string:default_value=string
8 pos=int,int:pos=(int,int)
9 enabled:enabled=True
10 disabled:enabled=False
11 show:show=True
12 hide:show=False
13 uppermode:uppercase=True
14 lowermode:uppercase=False
15 onlydecimal:decimal=True
16 tag=string:tag=string;required
17 action=function:callback=function
contextoutput=dpg.add_input_text(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17)
contextdoc=Create an input text object   

context=Button
1 string:label=string
2 width=int:width=int
3 height=int:height=int
4  adapttextsize:small=True
5 pos=int,int:pos=(int,int)
6 enabled:enabled=True
7 disabled:enabled=False
8 show:show=True
9 hide:show=False
10 tag=string:tag=string;required
11 actiononclick=function:callback=function
contextoutput=dpg.add_button(1,2,3,4,5,6,7,8,9,10,11)
contextdoc=Create a button object
